body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  margin-top: 2rem;
  /*padding-top: 2rem;*/
  &.cmelo-sticky-on {
    background-color: #294654;
  }
}

div.contact-form input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

/* Nav */

.tabs-wrap {
  padding: 20px 0;
}

div {
  &.logo-wrap {
    position: relative;
  }
  &.logo {
    display: inline-block;
    a {
      font-size: 3.5em;
      font-weight: bolder;
      text-decoration: none;
      color: #fff;
    }
  }
}

.nav-wrap {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  position: absolute;
  right: 0;
}

div.nav-wrap ul {
  list-style: none;
  margin-bottom: 0;
  li {
    display: inline-block;
    padding-left: 7.5rem;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.5em;
      font-weight: bold;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        border-bottom: 2px solid #fff;
        transition: 0.5s;
      }
      &:hover:after {
        width: 50%;
      }
    }
  }
}

/* Main */

.main-content {
  margin-top: 10rem;
}

div.main-content h2 {
  color: #464646;
}

/* Home Page */

.main-content div {
  &.home-page {
    max-width: 865px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5rem;
    color: #fff;
    text-transform: uppercase;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
  &.text-wrap {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    h1 {
      font-size: 5em;
    }
    h2 {
      font-size: 2.5em;
      color: #fff;
    }
  }
}

div {
  &.download {
    width: 18rem;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #464646;
    box-shadow: inset 0 0 0 0 #464646;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.2s;
    a {
      color: #464646;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 2rem;
      padding-top: 2rem;
      display: block;
    }
    &:hover {
      box-shadow: inset 200px 0 0 0 #464646;
      a {
        color: #fff;
      }
    }
  }
  &.about-page .about-me {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    font-size: 1.2em;
    span {
      display: block;
    }
  }
}

/* Page wrapper and Title*/

.main-content div {
  &.about-page, &.portfolio-page, &.contact-page {
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    margin-bottom: 5rem;
  }
  &.about-page, &.portfolio-page, &.contact-page {
    max-width: 865px;
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

div.logo-wrap {
  max-width: 865px;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-top: 0;
}

.main-content div.contact-page {
  padding-top: 0;
}

div {
  &.about-page h1, &.portfolio-page h1, &.contact-page h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #464646;
    text-align: center;
    /*padding-top: 5rem;*/
  }
  &.portfolio-wrap {
    h2 {
      text-align: center;
      margin-left: 0;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    div {
      &.lps, &.other {
        margin-top: 5rem;
      }
    }
  }
  &.portfolio-page div {
    &.proj-box {
      /*position: relative;*/
      /*overflow: hidden;*/
      display: inline-block;
      width: 40%;
      height: 350px;
      border: 1px solid #ccc;
      vertical-align: top;
      background-color: #294654;
      margin-top: 5rem;
      border-radius: 3px;
    }
    &.tic_tac {
      background-image: url("../img/tic_tac-min.png");
      background-repeat: no-repeat;
      background-position: top;
    }
    &.maze {
      background-image: url("../img/maze-min.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.bakery {
      background-image: url("../img/pink_bakery-min.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.neto-trade {
      background-image: url("../img/neto-trade-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.blaz-robar {
      background-image: url("../img/blaz-pic-min.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.phone-lp {
      background-image: url("../img/phone-min.png");
      background-repeat: no-repeat;
      background-position: center;
      div.proj-wrap {
        opacity: 0.1;
      }
    }
    &.cuda {
      background-image: url("../img/cuda-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.corporatix {
      background-image: url("../img/corporatix-min.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.ebook {
      background-image: url("../img/ebook-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.satari {
      background-image: url("../img/safari-min.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.to-do {
      background-image: url("../img/to-do-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.css-animation {
      background-image: url("../img/css-animation-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.phone-lp div.css-animation {
      opacity: 0;
    }
    &.speedometer {
      background-image: url("../img/speedometer-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.animals-gallery {
      background-image: url("../img/animals-gallery-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &.proj-wrap {
      width: 100%;
      height: 100%;
      background-color: black;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
    }
    &.proj-box {
      h3.proj-name {
        position: relative;
        bottom: 348px;
      }
      div.content-wrap {
        position: relative;
        bottom: 344px;
      }
    }
  }
  &.tic_tac, &.bakery, &.phone-lp, &.cuda, &.ebook, &.to-do, &.speedometer, &.blaz-robar {
    float: left;
    margin-left: 6rem;
  }
  &.maze, &.neto-trade, &.corporatix, &.satari, &.css-animation, &.animals-gallery {
    float: right;
    margin-right: 5rem;
  }
  &.clear {
    clear: both;
  }
  &.proj-box {
    div {
      &.proj-description {
        /*display: none;*/
        height: 10rem;
        color: #fff;
        margin: 1rem;
        border-bottom: 1px solid #fff;
        span.about-proj p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      &.tec-using {
        color: #fff;
        margin: 1rem;
        height: 7rem;
      }
      &.proj-btn {
        /*display: none;*/
        display: block;
        text-align: center;
        width: 50%;
        margin: auto;
        /*padding: 2rem 0;*/
        border: 2px solid #fff;
        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          display: inline-block;
          padding-bottom: 2rem;
          padding-top: 2rem;
        }
      }
    }
    h3 {
      text-align: center;
      /*padding: 14rem 0;*/
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
    }
    div.proj-btn:hover {
      display: block;
      text-align: center;
      width: 50%;
      margin: auto;
      border: 2px solid #fff;
      box-shadow: inset 0 0 0 0 #fff;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      transition: all ease 0.2s;
      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        width: 20rem;
        padding-top: 2rem;
        padding-right: 3rem;
      }
    }
    &:hover div.proj-btn:hover {
      box-shadow: inset 200px 0 0 0 #fff;
      a {
        color: #464646;
      }
    }
  }
}

/* Portfolio Page */

#more-lp, #more-other {
  display: none;
}

div.more-btn {
  text-align: center;
  margin-top: 5rem;
  border: none;
  transition: all 0.5s;
  a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #464646;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover a {
    padding-right: 25px;
    &:after {
      opacity: 1;
      right: 0;
    }
  }
}

.clicked {
  display: none;
}

/* Contact Page */

div {
  &.contact-page {
    div.pic {
      height: 40rem;
      background-image: url('../img/background.jpg');
      background-repeat: no-repeat;
      background-position: center bottom;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    h2 {
      color: #464646;
      margin-left: 3rem;
    }
  }
  &.email, &.phone {
    color: #464646;
    margin-left: 3rem;
  }
  &.contact-page h2 {
    padding-top: 2rem;
  }
  &.email, &.phone {
    font-size: 1.2em;
  }
  &.contact-page .contact-form h2 {
    padding-top: 0;
    font-size: 1.8em;
    color: #464646;
    margin-left: 1.6rem;
  }
  &.contact-data {
    width: 40%;
    padding-left: 5rem;
    display: inline-block;
  }
  &.contact-form {
    display: inline-block;
    width: 30%;
    margin-top: -17rem;
    margin-left: 19rem;
    background-color: #fff;
    border-radius: 5px;
    form {
      padding: 0 2rem;
    }
    label {
      color: #808080;
      font-weight: 100;
    }
    input, textarea {
      border-color: #464646;
    }
    input {
      padding-top: 0px;
      padding-bottom: 0px;
      height: 28px;
      &#submit {
        margin-top: 1.5rem;
        margin-left: 16rem;
        &:hover {
          border-color: #464646;
        }
      }
    }
  }
  &.scroll {
    height: 200px;
  }
}

/*   */
/*header{*/
/*position: fixed;*/
/*top:0;*/
/*width:100%;*/
/*background: blue;*/
/*margin-top:0;*/
/*z-index:999;*/
/*}*/