.row.contact-page
    .pic
    .contact-wrap
        .contact-data
            h2 Alona Shot
            .email
                span Email: alona.shot@gmail.com
            .phone
                span Phone: 054-5517580
        .contact-form
            h2 Say hello :)
            form#contact-form.form-wrap(method='POST', name='frm', action='http://formspree.io/alona.shot@gmail.com')
                .name-wrap
                    label(for='fname') Name
                    input#fname.form-control(name='name', type='text', ng-model='user.name', required='')
                .email-wrap
                    label(for='email') Email
                    input#email.form-control(name='_replyto', type='email', ng-model='user.email', required='')
                .subject-wrap
                    label(for='subject') Subject
                    input#subject.form-control(name='_subject', type='text', ng-model='user.subject', required='')
                .message-wrap
                    label(for='message') Message
                    textarea#message.form-control(rows='4', name='message', ng-model='user.message', required='')
                input(type='hidden', name='_next', value='http://alonashot.ml/')
                input(type='hidden', name='_format', value='plain')
                input(type='text', name='_gotcha', style='display:none')
                input#submit.btn.btn-default.submit-btn(type='submit', value='Send', ng-disabled='frm.$invalid')
.scroll