.portfolio-page
    .portfolio-wrap
        .lps
            h2 Landing Pages
            .lps-links
                .proj-box.blaz-robar
                    .proj-wrap
                    h3.proj-name BlazRobar LP
                    .content-wrap
                        .proj-description
                            span.about-proj
                                | By cutting images, using the backgrounds I created a beautiful responsive Landing Page.
                        .tec-using
                            | Using PSD from internet, Photoshop, HTML, CSS and JavaScript.
                        .proj-btn
                            a(href='blaz_pabar/', target='_blank') View project
                .proj-box.neto-trade
                    .proj-wrap
                    h3.proj-name Neto Trade LP
                    .content-wrap
                        .proj-description
                            span.about-proj
                                | Responsive Landing Page with fade in icons and a sign up form.
                                p
                                    | Came On push the GET STARTED button! Don't forget to fill the fields to see the magic!!!
                        .tec-using
                            | Using HTML, CSS and JavaScript.
                        .proj-btn
                            a(href='neto_trade_lp/', target='_blank') View project
                .clear
                div(ng-if='containers.moreLpContainerShow')
                    .proj-box.bakery
                        .proj-wrap
                        h3.proj-name Pink Bakery LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            .tec-using
                                | Using PSD from internet, Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='bakery_lp/', target='_blank') View project
                    .proj-box.phone-lp
                        .proj-wrap
                        h3.proj-name Phones LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            .tec-using
                                | Using PSD from internet, Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='big_lp/', target='_blank') View project
                    .clear
                    .proj-box.corporatix
                        .proj-wrap
                        h3.proj-name Corporatix LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful page.
                            .tec-using
                                | Using PSD from internet, Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='corporatix_lp/', target='_blank') View project
                    .proj-box.cuda
                        .proj-wrap
                        h3.proj-name Cuda LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            .tec-using
                                | Using PSD from internet, Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='cuda_lp/', target='_blank') View project
                    .clear
                    .proj-box.satari
                        .proj-wrap
                        h3.proj-name Safari LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            .tec-using
                                | Using Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='safari_lp/', target='_blank') View project
                    .proj-box.ebook
                        .proj-wrap
                        h3.proj-name Ebook LP
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | By cutting images, using the backgrounds and fonts I created a beautiful Landing Page.
                            .tec-using
                                | Using PSD from internet, Photoshop, HTML and CSS.
                            .proj-btn
                                a(href='simple-lp/', target='_blank') View project
                    .clear
                #btn-lp.more-btn
                    a(href='', ng-click="showMore('moreLpContainerShow')") More
        .other
            h2 Apps, Animations and Features
            .other-links
                .proj-box.to-do
                    .proj-wrap
                    h3.proj-name To Do List
                    .content-wrap
                        .proj-description
                            span.about-proj
                                p You have a many tasks to do?
                                p You always forget them?
                                p Use To Do List to help you remember!!!
                                p Add, Remove and check the tasks Done.
                        .tec-using
                            | Using HTML, CSS, JavaScript
                            br
                            |  I also used Local Storage.
                        .proj-btn
                            a(href='js_to_do_list/', target='_blank') View project
                .proj-box.css-animation
                    .proj-wrap
                    h3.proj-name Simple Css Animation
                    .content-wrap
                        .proj-description
                            span.about-proj
                                | 7 Colorful bolls moving around in a beautiful way.
                        .tec-using
                            | Using HTML, CSS and CSS animation.
                        .proj-btn
                            a(href='css_animation1/', target='_blank') View project
                .clear
                div(ng-if='containers.moreOtherShow')
                    .proj-box.speedometer
                        .proj-wrap
                        h3.proj-name Speedometer
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | Speedometer simulator, first time run fails, counting to 3 and the second run succeed.
                            .tec-using
                                | Using HTML, CSS, JavaScript and jQuery plugin for the speedometer look a like and functional.
                            .proj-btn
                                a(href='speedometer/', target='_blank') View project
                    .proj-box.animals-gallery
                        .proj-wrap
                        h3.proj-name Animals Gallery
                        .content-wrap
                            .proj-description
                                span.about-proj
                                    | Simple jQuery gallery with cute baby animals.
                            .tec-using
                                | Using HTML, CSS, CSS Animation, JavaScript and jQuery plugin.
                            .proj-btn
                                a(href='lightbox-gallery/', target='_blank') View project
                    .clear
                #btn-other.more-btn
                    a(href='', ng-click="showMore('moreOtherShow')") More
        .games
            h2 Games
            .game-links
                .proj-box.tic_tac
                    .proj-wrap
                    h3.proj-name Tic Tac Toe Game
                    .content-wrap
                        .proj-description
                            span.about-proj
                                | Have fun with your friends and play a classic game of Tic Tac Toe in two players mode (winner alert).
                        .tec-using
                            | Using HTML, CSS and JavaScript.
                        .proj-btn
                            a(href='tic_tac_toe-game/', target='_blank') View project
                .proj-box.maze
                    .proj-wrap
                    h3.proj-name Maze Game
                    .content-wrap
                        .proj-description
                            span.about-proj
                                | Move your player (green square) towards the end of the maze (red square) with arrow keys on your keyboard
                                | in the shortest time. Have fun!!!
                        .tec-using
                            | Using HTML, CSS and JavaScript.
                        .proj-btn
                            a(href='maze_game/', target='_blank') View project
                .clear
.scroll
