doctype html
html(lang='en')
    head
        meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
        title Alona Shot Portfolio
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='bower_components/angular-animate/angular-animate.min.js')
        script(src='bower_components/angular-sanitize/angular-sanitize.min.js')
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='myApp', ng-controller='mainCtrl')
        header
            .logo-wrap
                .logo
                    a(ui-sref='home') < SHOT >
                .nav-wrap
                    ul
                        li
                            a(ui-sref='portfolio') Portfolio
                        li
                            a(ui-sref='contact') Contact
        .main-content(ui-view='')
        <!-- inject:js -->
        <!-- endinject -->